<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/user/login" method="POST" style="border: 2px solid black; width: 200px ; height:150px; border-radius: 10px; " >
        <br>
      <input type="text" placeholder="enter your gmail" name="email" >
      <br>
      <br>
      <input type="password" placeholder="enter your password" name="password" >
      <br>
      <br>
      <button> submit </button>
      <br>
      <br>
    </form>

        <form action="/user/verfy-email" method="POST" style="border: 2px solid black; width: 200px ; height:150px; border-radius: 10px; margin-top: 50px; " >
        <br>
      <input type="email" placeholder="enter your gmail" name="email" >
      <br>
      <br>
      <input type="text" placeholder="enter your otp" name="otp" >
      <br>
      <br>
      <button> submit</button>
    </form>



</body>
</html>