<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>upload your details</h1>
    <form action="/user/profile"  method="POST" enctype="multipart/form-data"  >

       
        <h2>select your profile photo</h2>
        <br>
        <input type="file" name="image">
        <br>
        <h2>enter your name</h2>
        <br>
         <input type="text" placeholder="your name" name="name" >
         <br>
         <button>Submit</button>
        <br>
    </form>

</body>
</html>